.bar {
    background-color: #af7eeb;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 400px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.todo-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.todo-list {
    width: 400px;
    margin-top: 20px;
    background-color: white;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 40px;
}

.todo-add-btn {
    background-color: #af7eeb;
    color: white;
    padding: 10px 20px;
    margin-top: -12px;
    font-size: 16px;
}